<footer>
    <div class="swp_footer">
        <div class="is-small-screen">
            <p>
                Solidarité Wassadou Pont Trambouze<br>
                SIREN : 522 502 079, au RCS de Lyon<br>
            </p>
        </div>
        <div class="is-large-screen">
            <div class="swp_footer__middle">
                <div class="swp_society">
                    Solidarité Wassadou Pont Trambouze
                </div>
                <div>Association loi 1901</div>
                <div>SIREN : 522 502 079, au RCS de Lyon</div>
                <div>
                    <small>Mise à jour le {{ gendate }}</small>
                </div>
            </div>

            <div class="swp_footer__right">
                All right reserved - @2018 Guillaume EHRET
            </div>
        </div>
    </div>
</footer>