<header class="header-wrapper">
    <nav>
        <a href="/index.html" class="mdl-layout__tab"
           id="#home" onclick="app.changeMenu('#home')"><img src="../../img/home.svg" rel="start" alt="Accueil"></a>
        <a href="/blog.html" class="mdl-layout__tab"
           id="#blog">Blog</a>
        <a href="/index.html#donation" class="mdl-layout__tab"
           id="#donation" onclick="app.changeMenu('#donation')">Faire un don</a>
        <a href="/index.html#wassadou" class="mdl-layout__tab"
           id="#wassadou" onclick="app.changeMenu('#wassadou')">Wassadou</a>
        <a href="/index.html#contact" class="mdl-layout__tab is-large-screen"
           id="#contact" onclick="app.changeMenu('#contact')">Contact</a>
    </nav>
</header>
<div class="header-space"></div>