<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="preload" href="css/main.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="css/blog-list.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="js/main.js" as="script">
    {{> _html_header}}
</head>
<body class="dev-mind">
{{> _page_header}}
<main>
    <article class="swp_home" id="home">
        <swp-home>
            <p class="swp_logo center">
                <img src="img/logo_long2.svg" alt="Solidarité Wassadou Pont-Trambouze"/>
                <br>&nbsp;
            </p>

            <div class="swp-blog--container">
                <div class="swp-blog--container-article" id="last-article">
                    {{#firstArticle}}
                        <article class="swp-blog--article-head" onclick="document.location.href='blog/{{dir}}/{{filename}}.html'">
                            <h1><a href="blog/{{dir}}/{{filename}}.html">{{doctitle}}</a></h1>
                            <div class="swp-blog--imgteaser"><img class="swp-img--lazyload" data-src="{{{imgteaser}}}"/></div>
                            <p class="swp-blog--teaser">{{teaser}}</p>
                        </article>
                    {{/firstArticle}}
                    {{#secondArticles}}
                        <article class="swp-blog--article" onclick="document.location.href='blog/{{dir}}/{{filename}}.html'">
                            <h2><a href="blog/{{dir}}/{{filename}}.html">{{doctitle}}</a></h2>
                            <div class="swp-blog--imgteaser"><img class="swp-img--lazyload" data-src="{{{imgteaser}}}"/></div>
                            <p class="swp-blog--teaser">{{teaser}}</p>
                        </article>
                    {{/secondArticles}}

                    <div class="swp-blog--container-article" id="swp_extension">
                    </div>
                    <p>&nbsp;</p>
                </div>


                <div class="swp-blog--container-right">
                    <div id="last-articles">
                        <table class="swp-blog--tenlastarticles">
                            <thead>
                            <tr>
                                <th>Derniers articles</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#last15Articles}}
                                <tr>
                                    <td class="swp-blog--shortcutlist">
                                        <small>{{date}}</small>
                                        <a title="{{doctitle}}" href="blog/{{dir}}/{{filename}}.html">{{doctitle}}</a>
                                    </td>
                                </tr>
                            {{/last15Articles}}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="swp-blog--article-all"><a href="blog_archive.html">Voir tous les articles</a></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div>
                        <h3>Contact</h3>
                        <p>
                            <a href="https://www.facebook.com/SolidariteWassadouPontTrambouze/" target="_blank" rel="noopener">
                                <img src="img/contact/facebook.svg" alt="Facebook" class="swp-social">
                            </a>
                            <a href="mailto:contact@solidarite-wassadou.fr" target="_blank" rel="noopener">
                                <img src="img/contact/mail.svg" alt="Mail" class="swp-social">
                            </a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="center is-small-screen">
                <a href="blog_archive.html" style="color: #424242;">Voir tous les articles</a>
            </div>
            <div class="swp-blog--button">

                <button onclick="blog.findMoreBlogpost()" id="more-article">Plus d'articles...</button>
                <button onclick="document.location.href='rss/blog.xml'">Flux RSS</button>

                <p>&nbsp;</p>
                <p>Partagez cet article</p>
                <button onclick="blog.sendSocial('twitter')"><img src="img/contact/twitter.svg" alt="Twitter" class="swp-social"></button>
                <button onclick="blog.sendSocial('google+')"><img src="img/contact/googlep.svg" alt="Github" class="swp-social"></button>
                <button onclick="blog.sendSocial('facebook')"><img src="img/contact/facebook.svg" alt="Facebook" class="swp-social"></button>
                <button onclick="blog.sendSocial('linkedin')"><img src="img/contact/linkedin.svg" alt="Linkedin" class="swp-social"></button>
            </div>
        </swp-home>
    </article>

    <div id="swp_transition_village"></div>
    {{> _page_footer}}
</main>
{{> _html_footer}}
<script src="js/bloglist.js"></script>
<script>
    window.addEventListener("load", function () {
        blog.init([
            {{#otherArticles}}
                {
                    date: "{{date}}",
                    dir: "{{dir}}",
                    filename: "{{filename}}",
                    doctitle: "{{doctitle}}",
                    imgteaser: "{{{imgteaser}}}",
                    teaser: "{{teaser}}"
                },
            {{/otherArticles}}
        ]);
    });
</script>
</body>
</html>
