<div class="content">
    <article class="swp_home" id="home">
        <swp-home>
            <h1>Vous vous êtes perdus ?</h1>
            <p class="dm_lead">
                La ressource que vous voulez visualiser n'existe pas
            </p>
            <a href="/">
                Retour à la page d'accueil
            </a>
            <div class="center swp-img-container"><img src="img/logo_long2.svg" alt="Solidarité Wassadou Pont-Trambouze"/></div>

        </swp-home>

    </article>
    <div id="swp_transition_village"></div>
</div>