<article class="swp_home" id="home">
    <swp-home-blog>
        <p class="swp_logo center">
            <img src="img/logo_long.svg" alt="Solidarité Wassadou Pont-Trambouze"/>
            <br>&nbsp;
        </p>

        <div class="swp-blog--container">
            <div class="swp-blog--container-article" id="last-article">
                <article class="swp-blog--article-head swp-blog--article-head-load">
                    <p>&nbsp;</p>
                    <div class="swp_loader"></div>
                    <p>&nbsp;</p>
                </article>
            </div>
            <div class="swp-blog--container-right">
                <div id="last-articles"></div>
                <div>
                    <h3>Contact</h3>
                    <p>
                        <a href="https://www.facebook.com/SolidariteWassadouPontTrambouze/" target="_blank" rel="noopener">
                            <img src="img/contact/facebook.svg" alt="Facebook" class="swp-social">
                        </a>
                        <a href="mailto:contact@solidarite-wassadou.fr" target="_blank" rel="noopener">
                            <img src="img/contact/mail.svg" alt="Mail" class="swp-social">
                        </a>
                    </p>

                </div>
            </div>
        </div>
        <div class="swp-blog--button">
            <button onclick="blog.findMoreBlogpost()" id="more-article" style="display: none">Plus d'articles...</button>
            <button onclick="document.location.href='rss/blog.xml'">Flux RSS</button>
        </div>
    </swp-home-blog>
</article>

<div id="swp_transition_village"></div>
